<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--启动 AspectJ 支持，这样 Spring 会自动寻找用 @Aspect 注释过的类-->
    <aop:aspectj-autoproxy/>

    <bean id="customerDaoBean" class="com.myspring.aspectj.dao.CustomerDao"/>

    <bean id="loggingAspectBean" class="com.myspring.aspectj.aspect.LoggingAspect" />

</beans>